<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sihan.restaurantrecommendation">

    <uses-sdk tools:overrideLibrary="yalantis.com.sidemenu" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.new_man"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sunger.net.org.dropmenu.new_drop"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.User_MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MannualSearch"
            android:label="@string/title_activity_mannual_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.personalSearch"
            android:label="@string/title_activity_personal_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AdditionalFunction"
            android:label="@string/title_activity_additional_function"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ForgetPassword" />
        <activity android:name=".Activity.personalData" />
        <activity android:name=".Activity.favouriteList" />
        <activity android:name=".Activity.editPersonalProfile" />
        <activity android:name=".Activity.Restaurant"></activity>
    </application>

</manifest>
